// Define variables for your color scheme

// COULEUR
$primaryBlue: #0089CA;
$secondaryBlue: #E9FFE0;
$darkGrey: #5A5757;
$activeGrey: #5F5D72;
$inactiveGrey: #939292;
$backGrey: #F6F6F9;
$backBlue:#E9FFE0;
$white: #ffffff;
$primaryGreen: #8DC200;
