// CSS 4 FORM ELEMENTS
form {
  // height: 100%;
  option {
    color: $inactiveGrey;
  }

  legend {
    display: none;
  }

  .form-check-input[type="radio"] {
    margin-right: 10px;
  }

  .select {
    border-color: $primaryBlue;
    border-width: 2px;
    margin-left: 5px;
  }
}

.mail_email {
  width: 30ch;
  margin: 0 auto;
  .form-control {
    background-color: $backGrey;
  }
}

// CSS 4 DIVS

@media screen and (min-width: 800px) {
  .form-box {
    // height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    min-height: 500px;
    justify-content: space-between;
    padding: 0 15px 32px 20px;
  }
  .form-box1 {
    //formbox for home page
    // height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 500px;
    padding: 10px 15px 10px 25px;
  }
}
@media screen and (max-width: 800px) {
  .form-box {
    height: calc(100vh - 106px);
    display: flex;
    flex-direction: column;
    // min-height: 500px;
    justify-content: space-between;
    padding: 0 15px 0px 20px;
  }
  .form-box1 {
    // height: calc(100vh - 90px);

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    line-height: 200%;
  }
}

.form-box-2 {
  display: flex;
  flex-direction: column;
  // min-height: 500px;
  justify-content: space-between;
  padding: 0 15px 32px 20px;
}

.km-card {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.km-form {
  width: 8ch;
  height: 4rem;
  border-color: #0089ca;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 2rem;
  padding-left: 1ch;
  text-align: right;
}
.units {
  background-color: #0089ca;
  color: white;
  padding: 6px 10px 0 10px;
  height: 4rem;
  border-top: thin solid;
  border-bottom: thin solid;
  border-right: thin solid;
  border-color: #0089ca;
  text-align: center;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  font-size: 2rem;
  width: fit-content;
}

.features-box1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  // gap: 30px;
}
.features-box2 {
  h5 {
    margin-bottom: 2rem;
  }
}

.feature-card {
  display: flex;
  align-items: baseline;
  gap: 5px;
  height: 80px;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: fit-content;
  i {
    margin-right: 10px;
  }
}

.grey-line {
  margin-top: 5px;
  height: 10px;
  border-top: thin solid $inactiveGrey;
  margin-bottom: 2rem;
  padding-right: 50px;
}

.result-card {
  font-size: larger;
  background-color: $backBlue;
  padding: 20px;
}

// form wrapper
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1rem;

  flex-direction: row;
  align-content: space-around;
  align-items: center;
}

.selector {
  position: absolute;
  transform: scale(0);
}

.domain-selector + label {
  display: block;
  min-width: 13ch;
  cursor: pointer;
  text-align: center;
  border: solid $primaryBlue;
  color: $primaryBlue;
  padding: 1rem;
  border-radius: 15px;
  background-color: white;
  opacity: 0.7;
  transition-duration: 0.4s;
  transition: 0.4s;
  margin: 10px;
  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

.domain-selector:checked + label {
  background-color: $activeGrey;
  border-color: $activeGrey;
  color: white;
  opacity: 1;
}

.domain-selector + label {
  display: block;
  width: max-content;
  cursor: pointer;
  text-align: center;
  border: solid $primaryBlue;
  color: $primaryBlue;
  padding: 1rem;
  border-radius: 15px;
  background-color: white;
  opacity: 0.7;
  transition-duration: 0.4s;
  transition: 0.4s;
  margin: 10px;
  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

.domain-selector:checked + label {
  background-color: $primaryBlue;
  border-color: $primaryBlue;
  color: white;
  opacity: 1;
}

.domain-selector-small + label {
  display: block;
  width: 20ch;
  cursor: pointer;
  text-align: center;
  border: solid $primaryBlue;
  color: $primaryBlue;
  padding: 0.25rem 1rem;
  border-radius: 15px;
  background-color: white;
  opacity: 0.7;
  transition-duration: 0.4s;
  transition: 0.4s;
  margin: 10px;
  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

.domain-selector-small:checked + label {
  background-color: $activeGrey;
  border-color: $activeGrey;
  color: white;
  opacity: 1;
}

// CSS for MODAL Add feature

.modal-content {
  border: none;
}
.modal-header {
  background-color: $primaryBlue;
}

// result form box css
.result-card {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-radius: 14px;
}
