// Specific CSS for your home-page


.nav-btn{
      display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom-navbar {
  width: 300px;
  // height: 2rem;
  background-color: $backGrey;
  color: $activeGrey;
  padding: 15px;
}
