// Specific CSS for your home-page
@media screen and (min-width: 1280px) {
  .logo {
    padding: 15px 0 0 15px;
    width: 70%;
    background-color: white;
    position: fixed;
    top: 0;

    img {
      height: 100px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .logo {
    padding: 5px 0 0 5px;
    width: 100%;
    background-color: white;
     position: fixed;
    top: 0;

    img {
      height: 50px;
    }
  }
}

.bottom-navbar {
  width: 300px;
  // height: 2rem;
  background-color: $backGrey;
  color: $activeGrey;
  padding: 15px;
}
