.results-card {
  width: 650px;
  margin: 0 auto;
  padding: 15px;
  border: 2px solid $backGrey;
  border-radius: 2px;
  h6{
    margin-bottom: 1.5rem
  }
}
.results-header {
  background-color: $backGrey;
  width: 100%;
  height: 3rem;
  color: black;
  border: 1px solid #dee6e8;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  gap: 10px;
  i {
    font-size: 1.5rem;
  }
}
.header-logo-radius {
  border-radius: 5px 5px 0 0;
  height: 119% !important;
  position: relative;
  top: -1px;
}
.bottom-logo-radius {
  border-radius: 0 0 3px 3px;
  // position: relative;
  // top: -1px;
}
.summer-logo {
  color: $white;
  background-color: $orange;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 111%;
  text-align: center;
}
.winter-logo {
  color: $white;
  background-color: $activeGrey;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 111%;
  text-align: center;
}
.results-label {
  width: 100%;
  padding: 10px;
  p {
    padding-left: 30px;
    font-weight: 800;
  }
}
.results-line {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
  height: 4rem;
  border: 1px solid #dee6e8;
  border-radius: 5px;
  margin: 5px 0;
}
.results-line-label {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 18px;
  i {
    font-size: 1.5rem;
    width: 20px;
    padding-top: 10px;
  }
  p {
    width: 300px;
  }
}
.result-line-label-right-box {
  padding-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}
.final-cta {
  max-width: 650px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px auto;
  justify-content: space-around;
}

.info-btn {
  // z-index: 7;
  font-style: italic;
  cursor: pointer;
  font-size: 24px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #0089ca !important;
  color: white !important;
  padding-right: 4px;
  font-weight: 300;
}

@media screen and (max-width: 800px) {
  .results-card {
    width: 100vw;
    margin: 0;
  }
  .results-header {
    padding: 0 10px;
  }
  .results-line {
    min-height: 9.5rem;
    padding: 0 10px;
  }
  .results-line-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    p {
      width: 100%;
    }
    i {
      padding-top: 10px;
    }
  }
  .result-line-label-right-box {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }
  .final-cta {
    width: 90vw;
    justify-content: center;
  }
}
