<!-- Button trigger modal -->
<div class="info-btn" data-action="click->show-infos#displayAutonomyModal">
  ?
</div>
<!-- Modal -->
<div class="infos-calcul-background d-none"data-show-infos-target='autonomyModal' data-action="click->show-infos#displayAutonomyModal">
  <div class="infos-calcul">
    <h3>Calcul de l'autonomie :</h3>
    <p class='w-100'>Basé sur le % d'utilisation de votre batterie par jour et incorporant l'apport de potentiels panneaux solaires.</p>
    <p class='w-100' style='font-style: italic'>
      Charge solaire: 6h en été Vs 4h en hiver
    </p>
    <div class="btn btn-primary" data-action="click->show-infos#closeAutonomyModal">Fermer</div>
  </div>
</div>
