<!-- Button trigger modal -->
<div class="info-btn" data-action="click->show-infos#displayAverageModal">
  ?
</div>
<!-- Modal -->
<div class="infos-calcul-background d-none"data-show-infos-target='averageModal' data-action="click->show-infos#displayAverageModal">
  <div class="infos-calcul " >
    <h3>Infos sur le calcul consommation Moyenne</h3>
    Sit veniam laborum amet sint ex pariatur qui. Est velit magna non duis dolore esse eiusmod consectetur cupidatat eiusmod tempor eu. Irure magna magna cupidatat fugiat adipisicing pariatur ea irure excepteur occaecat. Quis occaecat occaecat velit magna nostrud non cupidatat commodo laborum eiusmod fugiat. Est enim pariatur cillum minim. In nostrud cupidatat do aute cupidatat consequat minim ex ea adipisicing elit reprehenderit incididunt.
    <div class="btn btn-primary" data-action="click->show-infos#closeAverageModal">Fermer</div>
  </div>
</div>
