<!-- Button trigger modal -->
<div class="info-btn" data-action="click->show-infos#displayAverageModal">
  i
</div>
<!-- Modal -->
<div class="infos-calcul-background d-none"data-show-infos-target='averageModal' data-action="click->show-infos#displayAverageModal">
  <div class="infos-calcul " >
    <h3>Consommation Moyenne :</h3>
    <p class='w-100'>Le calcul incorpore de base une pompe à eau, une TV et une rampe de LED.</p>
    <p class='w-100'>Puis sont ajoutés l'ensemble des élements sélectionnés.</p>
    <p class='w-100'>Enfin pour le calcul en hiver, 6h de chauffage sont ajoutées.</p>
    <p  class='w-100'style='font-style: italic'>
    Les apports de vos panneaux solaires ne sont pas intégrés ici
    </p>
    <div class="btn btn-primary" data-action="click->show-infos#closeAverageModal">Fermer</div>
  </div>
</div>
