<!-- Button trigger modal -->
<div class="info-btn"  data-action="click->show-infos#displayPercentModal">
  ?
</div>
<!-- Modal -->
<div class="infos-calcul-background d-none"data-show-infos-target='percentModal' data-action="click->show-infos#displayPercentModal">
  <div class="infos-calcul">
    <h3>Infos sur le calcul de % :</h3>
    <p>Le calcul incorpore de base 1 pompe à eau, 1 TV et une rampe de LED.</p>
    <p>Puis sont ajoutés l'ensemble des élements sélectionnés</p>
    <p>Pour le calcul en hiver, 6h de chauffage sont ajoutées</p>
    <p>Le type de batterie selectionné, impacte sa capacité totale</p>
    <p>Enfin la présence ou non de panneau solaire vient augmenter la capacité initialement calculée.
    </p>
    <p style='font-style: italic'>
      Charge: 6h en été Vs 4h en hiver
    </p>
    <div class="btn btn-primary" data-action="click->show-infos#closePercentModal">Fermer</div>
  </div>
</div>
