<!-- Button trigger modal -->
<button type="button" class="add-btn" data-bs-toggle="modal" data-bs-target="#addFeatureModal">
  <i class="fa-solid fa-circle-plus"></i>
  Ajouter un appareil
</button>
