
<div class="form-box mt-3" id='fridge' data-enroll-target='formBox'>
  <h2><i class="fa-solid fa-snowflake"></i> REFRIGERATEUR 1/5</h2>
  <h1>Quel type de frigo possédez-vous ?</h1>
  <div class="fridge-form"  >
    <%= form.input :fridge, required: true, label: false, as: :radio_buttons,
                                    collection: ["TRIMIXTE", "A COMPRESSION"],
                                    collection_wrapper_tag: 'div',
                                    collection_wrapper_class: 'wrapper',
                                    # collection_wrapper_data: {calculate_energy_target: 'fridge',
                                    #                     action:'change->calculate-energy#updateCalcul'},
                                    item_wrapper_class: 'domain-item',
                                    checked: "TRIMIXTE" ,
                                    input_html: { class: 'selector domain-selector',
                                                  data: {calculate_energy_target: 'fridge',
                                                         action:'change->calculate-energy#changeInForm'}
                                    }
                                    %>
  </div>
  <div class="nav-btn">
    <div class=' mt-3'></div>
    <div class='next-btn mt-3' data-action='click->enroll#displayNext'></div>
  </div>
<%= render 'bottom_navbar' %>
</div>
