<%= simple_form_for :mail, url: mail_path, html: { novalidate: false, class:'background' } do |form|%>
  <div class='form-box ' id='pledge' data-enroll-target='formBox'>
    <div class="talk">
      <h1>Calculez combien d'énergie dépense votre camping-car, fourgon ou van</h1>
      <p>Voyager en camping-car en toute autonomie n'est pas toujours facile.<br/>
        Plusieurs paramètres de consommation sont à prendre en compte.<br/>
        Nous avons développé pour vous un calculateur qui va vous permettre de
        réaliser le bilan énergétique de votre véhicule pour connaître votre autonomie
        réelle!
      </p>
    </div>
    <div class="email-box">
      <p>Pour commencer, merci d’indiquer votre adresse email</p>
      <%= form.input :email , label: false, as: :email, required: true,input_html:{value:  "Votre adresse email*"}, html5: true%>
    </div>
    <div class="center  mb-5">
      <%# <div class='ypo-btn' data-action='click->enroll#displayNext'>CALCULER MA CONSOMMATION</div> %>

        <%= form.submit "CALCULER MA CONSOMMATION", class:'ypo-btn ' %>

    </div>
  </div>
<% end %>
