.bottom-navbar {
  width: 220px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.logo-navabar {
  width: 2rem;
  height: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.active {
  background-color: $activeGrey;
  color: $white !important;
}
.inactive {
  background-color: $backGrey;
  color: $activeGrey;
}
